<div class="cataegory-div parent-accordion-section" id="section-rr">
    <div class="parent-accordion-section-title" data-href="#parent-section-rr">
        <p>Reliability and Resiliency</p>
        <img src="img/rr.png">
    </div>
    <div class="parent-accordion-section-content" id="parent-section-rr" style="display:none">
        <div class="intent-div section accordion-section" id="overview-rr">
            <div class="title-description">
                <p class="intent-title">Advanced Meter for Operation</p>
                <p class="intent-description">
                    To facilitate reliability measurement and monitoring 
                    by ensuring a minimum standard for metering throughout the project.
                </p>                                        
            </div>
            
            <div class="accordion-section-title" data-href="#index-banner-1" data-intentid="rrI1">
                <p>
                    <i class="arrow-down"></i> 
                    <span class="credit-count">1</span> 
                    Strategy
                </p>
            </div>

            <div class="section accordion-section-content index-banner" 
                id="index-banner-1" style="display: none;">
                <ul class="collapsible popout" data-collapsible="accordion" style="width: 100%;" data-intentid="rrI1">
                    
                    <!-- rrI1S1 -->
                    <li class="undecided strategy-system">
                        <span class="strategy-required">Required</span>
                        
                        <div class="collapsible-header" data-status="undecided" data-intentid="rrI1" 
                            data-strategyid="rrI1S1" style="position: relative;">
                            <div class="strategy-counter">
                                <div class="strategy-counter-content">1.a</div>
                            </div>
                            <div class="strategy-name">
                                Install advanced meters to track reliability and power quality performance.
                                <span style="
                                        color: rgba(128, 128, 128, 0.6);
                                    ">(OR Attempt Strategy 1.b) 
                                </span>
                            </div>
                            <div class="hover-apply-strategy" style="height: 65.6667px;">
                                <div class="hover-apply-strategy-content">
                                    <a class="waves-effect waves-light applyStrategy " 
                                        data-intentid="rrI1" data-strategyid="rrI1S1">
                                        <span class="yes-apply-circle">YES</span>
                                    </a>
                                    <a class="waves-effect waves-light notApplyStrategy " 
                                        data-intentid="rrI1" data-strategyid="rrI1S1">
                                        <span class="no-apply-circle">NO</span>
                                    </a>
                                    <a class="waves-effect waves-light fa fa-file-text-o documentStrategy " 
                                        data-intentid="rrI1" data-strategyid="rrI1S1">
                                    </a>
                                    <a class="waves-effect waves-light fa fa-star-o starStrategy " 
                                        data-intentid="rrI1" data-strategyid="rrI1S1">
                                    </a>
                                </div>
                            </div>
                            <div class="strategy-action-menu">
                                <div class="hover-apply-strategy-content">
                                    <div class="waves-effect waves-light actionmenuStrategy" 
                                        data-intentid="rrI1" data-strategyid="rrI1S1" data-hasqtip="0" aria-describedby="qtip-0">
                                        <i class="icon-ellipsis-horizontal icon-large"></i>
                                    </div>
                                    <ul class="strategy-action-nav pop-menu-ss" style="display:none;">
                                        <li class="first-item">
                                            <div class="apply-content">
                                                <span>Doing this credit?</span>
                                                <a class="waves-effect waves-light applyStrategy " 
                                                    data-intentid="rrI1" data-strategyid="rrI1S1">
                                                    <span class="yes-apply-circle">YES</span>
                                                </a>
                                                <a class="waves-effect waves-light notApplyStrategy " 
                                                    data-intentid="rrI1" data-strategyid="rrI1S1">
                                                    <span class="no-apply-circle">NO</span>
                                                </a>
                                                <a class="waves-effect waves-light unDecidedStrategy undecided" 
                                                    data-intentid="rrI1" data-strategyid="rrI1S1">
                                                    <span class="undecided-circle">Maybe</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="navDocumentStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-file-text-o documentStrategy " 
                                                data-intentid="rrI1" data-strategyid="rrI1S1">
                                            </a>
                                            <div class="action-text">Add Document</div>
                                        </li>
                                        <li class="navStarStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-star-o starStrategy " 
                                                data-intentid="rrI1" data-strategyid="rrI1S1">
                                            </a>
                                            <div class="action-text">Star</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body" style="display: none;">

                            <div class="strategy-not-applicable default-strategy-38655" id="rr_I1S1_desc">
                                <div>
                                    <p class="strategy-description">
                                        Install advanced meters for more than 5% of customers to track & 
                                        measure interruption and power quality performance data. The meter 
                                        should be capable of sending data to site management at least every 
                                        15 minutes to demonstrate compliance with this prerequisite. <br>
                                        Additionally, the project must demonstrate a plan to reach 
                                        to 50 % of customers within 4 years.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More 
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <p class="strategy-question">Do you think your strategy applies to your project?</p>
                                </div>
                                <div class="button-group">
                                    <a class="waves-effect waves-light btn btn-green yes" id="rr_I1S1_desc_yes">
                                        Yes
                                    </a>
                                    <a class="waves-effect waves-light btn btn-white close-popout no" id="rr_I1S1_desc_no">
                                        No
                                    </a>
                                </div>
                            </div>
                            
                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S1_ques1">
                                <p class="strategy-question">
                                    Does the project have advanced meters installed for consumers?
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a class="answerbutton waves-effect waves-light btn btn-green" id="rr_I1S1_ques1_yes">
                                            Yes
                                        </a>
                                        <a class="answerbutton waves-effect waves-light btn btn-white" id="rr_I1S1_ques1_no">
                                            No
                                        </a>

                                        <a id="restartq" class="waves-effect waves-light btn-back-step back-to-desc" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S1_ques3">
                                <p class="strategy-question">
                                   Can the  advanced meters measure and record power interruptions?  
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                       <a class="answerbutton waves-effect waves-light btn btn-green" id="rr_I1S1_ques3_yes">
                                           Yes
                                       </a>
                                       <a class="answerbutton waves-effect waves-light btn btn-white" id="rr_I1S1_ques3_no">
                                           No
                                       </a>

                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S1_ques3_scr">
                                <p class="strategy-question">
                                   If yes, whether the meter is capable of  reporting interruptions for the below intervals.   
                                    <br><br>
                                     <input type="radio" style="margin-left: 18px;">
                                     0 to < 15 mins 
                                     <br><br>
                                     <input type="radio" style="margin-left: 18px;">
                                     > 15 mins to 60 mins  
                                     <br><br>
                                     <input type="radio" style="margin-left: 18px;">
                                     More than 60 mins 
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>

                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S1_ques4">
                                <p class="strategy-question">
                                    Percentage of customers served with Advanced meters : <br><br>
                                     <input type="number" id="rr_I1S1_ques4_ans" style="margin-left: 25px;">
                                     <br><br>
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>

                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                           <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S1_ques5">
                               <p class="strategy-question">
                                  Does the project have a plan to deploy advanced meters to 100% of customers in next 10 years? 
                               </p>

                               <a target="_blank" href="http://peer.gbci.org/credits" 
                                   class="learn-more right">
                                   Learn More <i class="icon-external-link"></i>
                               </a>

                               <div class="button-group">
                                   <div class="controls">
                                      <a class="answerbutton waves-effect waves-light btn btn-green" id="rr_I1S1_ques5_yes">
                                          Yes
                                      </a>
                                      <a class="answerbutton waves-effect waves-light btn btn-white" id="rr_I1S1_ques5_no">
                                          No
                                      </a>

                                       <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                           style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                           <i class="fa fa-angle-left" 
                                               style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                               <span>Back</span>
                                       </a>
                                   </div>
                               </div>
                           </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S1_ques2">
                                <p class="strategy-question">
                                    If yes, whether the meter is capable of  reporting interruptions in at least 
                                    15 minute intervals. Also provide the, No. of Meters installed for: <br><br>
                                     Industrial consumers 
                                     <input type="number" style="margin-left: 25px;">
                                     <br><br>
                                     Commercial consumers 
                                     <input type="number" style="margin-left: 7px;">
                                     <br><br>
                                     Domestic Consumers 
                                     <input type="number" style="margin-left: 20px;"><br><br>
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>

                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S1_fail">
                                <div class="strategy-fail">
                                    <p class="strategy-question">
                                        <span class="failure-message">Your project is not using this strategy. </span> <a href='#' id ="continueq">Attempt strategy 1.b</a><br><br>
                                        For more information review our Learn More section.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="button-group">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S1_success">
                                <div class="strategy-success">
                                    <p class="strategy-question">
                                        <span class="category-icon" style="background-image: url('img/rr.png');"></span>
                                        <span class="success-message">
                                        <span class="success-message-title">
                                           Great work, it looks like your project is measuring interruptions and have plans to implement advanced meters for every customer and likely meet this prerequisite.</span><br><br>

                                            Provide a list of advanced meter make and model numbers used on 
                                            the project and the percentage of customers served by each type of meter. 
                                            If advanced meter is not installed for all customers, provide details 
                                            of the advanced meter deployment plan and schedule for reaching 
                                            atleast 50 % of customers in next 4 years.
                                        </span>
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="strategy-upload-message">
                                        <div class="upload-message-div">
                                            <p class="upload-message">
                                                <span class="strategy-upload-step">
                                                Step 1.</span> 
                                                Upload further documentation to increase your chances for 
                                                    certification.
                                            </p>
                                        </div>
                                        <div class="elements_questionnaire_upload" id="elements_questionnaire_upload-38680">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="fa fa-upload"></i>
                                                <span>Add Document</span>
                                                <input class="elements_file_data_new upload" name="elements_file_data_new" type="file" multiple="">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="strategy-complete-div">
                                        <div class="complete-message-div">
                                            <p class="complete-message">
                                                <span class="strategy-upload-step">Step 2.</span> 
                                                Complete credit now.
                                            </p>
                                        </div>
                                        <div class="complete-credit">
                                            <a id="completeq" class="waves-effect waves-light btn btn-green">
                                                Complete credit
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="documentation-message-button-group">

                                    <div class="button-group button-group-success">
                                        <a id="restartq" class="waves-effect waves-light btn-back-step">
                                            <i class="fa fa-angle-left"></i>
                                            <span>Back</span>
                                        </a>

                                        <a id="next-strategy" class="waves-effect waves-light btn btn-white">
                                            <span>Next Strategy</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <span class="button-group-or-text">OR</span>
                                        <a id="continueq" class="waves-effect waves-light btn btn-white">
                                            Skip
                                        </a>
                                    </div>
                                </div>
                            </div>
                        

                        </div>

                    </li>
                    <!-- rrI1S1 -->

                    

                    <!-- rrI1S2 -->
                    <li class="undecided strategy-system" >
                        <span class="strategy-required">Required</span>
                        
                        <div class="collapsible-header" id="rrI1S2" data-status="undecided" data-intentid="rrI1" 
                            data-strategyid="rrI1S2" style="position: relative;">
                            <div class="strategy-counter">
                                <div class="strategy-counter-content">1.b</div>
                            </div>
                            <div class="strategy-name">
                                Maintain a power interruption log.
                            </div>
                            <div class="hover-apply-strategy" style="height: 65.6667px;">
                                <div class="hover-apply-strategy-content">
                                    <a class="waves-effect waves-light applyStrategy " 
                                        data-intentid="rrI1" data-strategyid="rrI1S2">
                                        <span class="yes-apply-circle">YES</span>
                                    </a>
                                    <a class="waves-effect waves-light notApplyStrategy " 
                                        data-intentid="rrI1" data-strategyid="rrI1S2">
                                        <span class="no-apply-circle">NO</span>
                                    </a>
                                    <a class="waves-effect waves-light fa fa-file-text-o documentStrategy " 
                                        data-intentid="rrI1" data-strategyid="rrI1S2">
                                    </a>
                                    <a class="waves-effect waves-light fa fa-star-o starStrategy " 
                                        data-intentid="rrI1" data-strategyid="rrI1S2">
                                    </a>
                                </div>
                            </div>
                            <div class="strategy-action-menu">
                                <div class="hover-apply-strategy-content">
                                    <div class="waves-effect waves-light actionmenuStrategy" 
                                        data-intentid="rrI1" data-strategyid="rrI1S2" data-hasqtip="0" aria-describedby="qtip-0">
                                        <i class="icon-ellipsis-horizontal icon-large"></i>
                                    </div>
                                    <ul class="strategy-action-nav pop-menu-ss" style="display:none;">
                                        <li class="first-item">
                                            <div class="apply-content">
                                                <span>Doing this credit?</span>
                                                <a class="waves-effect waves-light applyStrategy " 
                                                    data-intentid="rrI1" data-strategyid="rrI1S2">
                                                    <span class="yes-apply-circle">YES</span>
                                                </a>
                                                <a class="waves-effect waves-light notApplyStrategy " 
                                                    data-intentid="rrI1" data-strategyid="rrI1S2">
                                                    <span class="no-apply-circle">NO</span>
                                                </a>
                                                <a class="waves-effect waves-light unDecidedStrategy undecided" 
                                                    data-intentid="rrI1" data-strategyid="rrI1S2">
                                                    <span class="undecided-circle">Maybe</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="navDocumentStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-file-text-o documentStrategy " 
                                                data-intentid="rrI1" data-strategyid="rrI1S2">
                                            </a>
                                            <div class="action-text">Add Document</div>
                                        </li>
                                        <li class="navStarStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-star-o starStrategy " 
                                                data-intentid="rrI1" data-strategyid="rrI1S2">
                                            </a>
                                            <div class="action-text">Star</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body" style="display: none;">

                            <div class="strategy-not-applicable default-strategy-38655" id="rr_I1S2_desc">
                                <div>
                                    <p class="strategy-description">
                                        Maintain a power interruption log capturing date, time, 
                                        duration, location & no. of customers affected.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More 
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <p class="strategy-question">Do you meet this requirement?</p>
                                </div>
                                <div class="button-group">
                                    <a class="waves-effect waves-light btn btn-green yes" 
                                        data-intentid="7664" data-strategyid="38655" id="rr_I1S2_desc_yes">
                                        Yes
                                    </a>
                                    <a class="waves-effect waves-light btn btn-white close-popout no" id="rr_I1S2_desc_no">
                                        No
                                    </a>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S2_ques1">
                                <p class="strategy-question">
                                    <span>Can your project provide a comprehensive interruption log from all consumers that can be used to calculate interruption indices?</span>

                                    <table class="table table-striped" 
                                        style="width: 67%;margin-left: 60px;margin-bottom: 30px;float: left;">
                                        <thead>
                                          <tr style="background: #008dba;">
                                            <th style="text-align: center;">Incident</th>
                                            <th style="text-align: center;">Meter</th>
                                            <th style="text-align: center;width: 200px;">Time</th>
                                            <th style="text-align: center;">Duration(min)</th>
                                            <th style="width: 185px; text-align: center;"># Customers Affected</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td style="text-align: center;">1</td>
                                            <td style="text-align: center;">Gym Main</td>
                                            <td style="text-align: center;">3/27/14 11:28 AM</td>
                                            <td style="text-align: center;">502.138</td>                                            
                                            <td style="text-align: center;">2</td>
                                          </tr>

                                          <tr>
                                            <td style="text-align: center;">2</td>
                                            <td style="text-align: center;">Bio Main</td>
                                            <td style="text-align: center;">7/22/14 9:22 AM</td>
                                            <td style="text-align: center;">427.443</td>
                                            <td style="text-align: center;">4</td>
                                          </tr>

                                          <tr>
                                            <td style="text-align: center;">3</td>
                                            <td style="text-align: center;">State Sub Blue Trans</td>
                                            <td style="text-align: center;">10/29/14 10:37 AM</td>
                                            <td style="text-align: center;">83,149.148</td>
                                            <td style="text-align: center;">5</td>
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right" style="margin-top: -75px;">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a class="answerbutton waves-effect waves-light btn btn-green" id="rr_I1S2_ques1_yes">
                                            Yes
                                        </a>
                                        <a class="answerbutton waves-effect waves-light btn btn-white" id="rr_I1S2_ques1_no">
                                            No
                                        </a>

                                        <a id="restartq" class="waves-effect waves-light btn-back-step back-to-desc" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S2_fail">
                                <div class="strategy-fail">
                                    <p class="strategy-question">
                                       <span class="failure-message">
                                       It looks like your project has no options to measure interruption, hence  does not meet this prerequisite.
                                       </span>
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="button-group">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="rr_I1S2_success">
                                <div class="strategy-success">
                                    <p class="strategy-question">
                                        <span class="category-icon"  style="background-image: url('img/rr.png');"></span>
                                        <span class="success-message success-message-title">
                                            Great work, it looks like your project is capable of measuring interruptions that are essential to meet this prerequisite.
                                        </span>
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="strategy-upload-message">
                                        <div class="upload-message-div">
                                            <p class="upload-message">
                                                <span class="strategy-upload-step">
                                                Step 1.</span> 
                                                Upload further documentation to increase your chances for 
                                                    certification.
                                            </p>
                                        </div>
                                        <div class="elements_questionnaire_upload" id="elements_questionnaire_upload-38680">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="fa fa-upload"></i>
                                                <span>Add Document</span>
                                                <input class="elements_file_data_new upload" name="elements_file_data_new" type="file" multiple="">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="strategy-complete-div">
                                        <div class="complete-message-div">
                                            <p class="complete-message">
                                                <span class="strategy-upload-step">Step 2.</span> 
                                                Complete credit now.
                                            </p>
                                        </div>
                                        <div class="complete-credit">
                                            <a id="completeq" class="waves-effect waves-light btn btn-green">
                                                Complete credit
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="documentation-message-button-group">

                                    <div class="button-group button-group-success">
                                        <a id="restartq" class="waves-effect waves-light btn-back-step">
                                            <i class="fa fa-angle-left"></i>
                                            <span>Back</span>
                                        </a>

                                        <a id="next-strategy" class="waves-effect waves-light btn btn-white">
                                            <span>Next Strategy</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <span class="button-group-or-text">OR</span>
                                        <a id="continueq" class="waves-effect waves-light btn btn-white">
                                            Skip
                                        </a>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </li>
                    <!-- rrI1S2 -->

                </ul>

            </div>

        </div>
    </div>
</div>



<script>

$('.collapsible').collapsible();



</script>