<div class="cataegory-div parent-accordion-section" id="section-ee">
    <div class="parent-accordion-section-title" data-href="#parent-section-ee">
        <p>Energy Efficiency &amp; Environment</p>
        <img src="img/ee.png">
    </div>
    <div class="parent-accordion-section-content" id="parent-section-ee" style="display:none">
        <div class="intent-div section accordion-section" id="overview-ee">
            <div class="title-description">
                <p class="intent-title">Local Renewable Generation</p>
                <p class="intent-description">
                    To recognize project sites that install local renewable 
                    generation and encourage investment in sources such as 
                    wind, solar, and geothermal energy.
                </p>                                        
            </div>
            
            <div class="accordion-section-title" data-href="#index-banner-2" data-intentid="eeI1">
                <p>
                    <i class="arrow-down"></i> 
                    <span class="credit-count">1</span> 
                    Strategy
                </p>
            </div>

            <div class="section accordion-section-content index-banner" 
                id="index-banner-2" style="display: none;">

                <ul class="collapsible popout" data-collapsible="accordion" style="width: 100%;" data-intentid="eeI1">
                    
                    <!-- eeI1S1 -->
                    <li class="undecided strategy-system">
                        <span class="strategy-required">Bonus</span>
                        
                        <div class="collapsible-header" data-status="undecided" data-intentid="eeI1" 
                            data-strategyid="eeI1S1" style="position: relative;">
                            <div class="strategy-counter">
                                <div class="strategy-counter-content">1.</div>
                            </div>
                            <div class="strategy-name">
                                Have a renewable generation sources within the project boundary.
                            </div>
                            <div class="hover-apply-strategy" style="height: 65.6667px;">
                                <div class="hover-apply-strategy-content">
                                    <a class="waves-effect waves-light applyStrategy " 
                                        data-intentid="eeI1" data-strategyid="eeI1S1">
                                        <span class="yes-apply-circle">YES</span>
                                    </a>
                                    <a class="waves-effect waves-light notApplyStrategy " 
                                        data-intentid="eeI1" data-strategyid="eeI1S1">
                                        <span class="no-apply-circle">NO</span>
                                    </a>
                                    <a class="waves-effect waves-light fa fa-file-text-o documentStrategy " 
                                        data-intentid="eeI1" data-strategyid="eeI1S1">
                                    </a>
                                    <a class="waves-effect waves-light fa fa-star-o starStrategy " 
                                        data-intentid="eeI1" data-strategyid="eeI1S1">
                                    </a>
                                </div>
                            </div>
                            <div class="strategy-action-menu">
                                <div class="hover-apply-strategy-content">
                                    <div class="waves-effect waves-light actionmenuStrategy" 
                                        data-intentid="eeI1" data-strategyid="eeI1S1" data-hasqtip="0" aria-describedby="qtip-0">
                                        <i class="icon-ellipsis-horizontal icon-large"></i>
                                    </div>
                                    <ul class="strategy-action-nav pop-menu-ss" style="display:none;">
                                        <li class="first-item">
                                            <div class="apply-content">
                                                <span>Doing this credit?</span>
                                                <a class="waves-effect waves-light applyStrategy " 
                                                    data-intentid="eeI1" data-strategyid="eeI1S1">
                                                    <span class="yes-apply-circle">YES</span>
                                                </a>
                                                <a class="waves-effect waves-light notApplyStrategy " 
                                                    data-intentid="eeI1" data-strategyid="eeI1S1">
                                                    <span class="no-apply-circle">NO</span>
                                                </a>
                                                <a class="waves-effect waves-light unDecidedStrategy undecided" 
                                                    data-intentid="eeI1" data-strategyid="eeI1S1">
                                                    <span class="undecided-circle">Maybe</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="navDocumentStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-file-text-o documentStrategy " 
                                                data-intentid="eeI1" data-strategyid="eeI1S1">
                                            </a>
                                            <div class="action-text">Add Document</div>
                                        </li>
                                        <li class="navStarStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-star-o starStrategy " 
                                                data-intentid="eeI1" data-strategyid="eeI1S1">
                                            </a>
                                            <div class="action-text">Star</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body" style="display: none;">

                            <div class="strategy-not-applicable default-strategy-38655" id="ee_I1S1_desc">
                                <div>
                                    <p class="strategy-description">
                                        Have a renewable generation sources within the project boundary. 
                                        (ie. Can be of Solar, Wind, hydro, Biomass, geothermal)
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More 
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <p class="strategy-question">Do you meet this requirement?</p>
                                </div>
                                <div class="button-group">
                                    <a class="waves-effect waves-light btn btn-green yes" 
                                        data-intentid="7664" data-strategyid="38655" id="ee_I1S1_desc_yes">
                                        Yes
                                    </a>
                                    <a class="waves-effect waves-light btn btn-white close-popout no" id="ee_I1S1_desc_no">
                                        No
                                    </a>
                                </div>
                            </div>


                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I1S1_ques1">
                                <p class="strategy-question">
                                    What is your Gross bulk generation delivered to site 
                                    <input id="x1" type="number" placeholder="(MWh)" name="x1" 
                                        style="border-top: none;border-left: none;border-right: none;text-align: center;"> 
                                    
                                    and gross local generation delivered to site 
                                    
                                    <input id="x2" type="integer" placeholder="(MWh)" name="x2" 
                                        style="border-top: none;border-left: none;border-right: none;text-align: center;">. 
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a class="answerbutton waves-effect waves-light btn btn-green" id="ee_I1S1_ques1_yes">
                                            Yes
                                        </a>
                                        <a class="answerbutton waves-effect waves-light btn btn-white" id="ee_I1S1_ques1_no">
                                            No
                                        </a>

                                        <a id="restartq" class="waves-effect waves-light btn-back-step back-to-desc" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I1S1_ques2">
                                <p class="strategy-question">
                                    Do you have a local renewable generation ? <br><br>

                                    <select style="border: 1px solid rgba(128, 128, 128, 0.45);">
                                      <option value="">Select</option>
                                      <option value="">Solar</option>
                                      <option value="">Biomass</option>
                                      <option value="">Hydro</option>
                                      <option value="">Geothermal</option>
                                    </select>

                                    <input id="x3" type="number" placeholder="Generation-MWh" name="x3" 
                                        style="border-top: none;border-left: none;border-right: none;text-align: center; margin-left: 50px;">
                                    <br><br>

                                    <select style="border: 1px solid rgba(128, 128, 128, 0.45);">
                                      <option value="">Select</option>
                                      <option value="">Solar</option>
                                      <option value="">Biomass</option>
                                      <option value="">Hydro</option>
                                      <option value="">Geothermal</option>
                                    </select>

                                    <input id="x4" type="number" placeholder="Generation-MWh" name="x4" 
                                        style="border-top: none;border-left: none;border-right: none;text-align: center; margin-left: 50px;">
                                    <br><br>

                                    <select style="border: 1px solid rgba(128, 128, 128, 0.45);">
                                      <option value="">Select</option>
                                      <option value="">Solar</option>
                                      <option value="">Biomass</option>
                                      <option value="">Hydro</option>
                                      <option value="">Geothermal</option>
                                    </select>

                                    <input id="x5" type="number" placeholder="Generation-MWh" name="x5" 
                                        style="border-top: none;border-left: none;border-right: none;text-align: center; margin-left: 50px;">
                                    <br><br>

                                    <select style="border: 1px solid rgba(128, 128, 128, 0.45);">
                                      <option value="">Select</option>
                                      <option value="">Solar</option>
                                      <option value="">Biomass</option>
                                      <option value="">Hydro</option>
                                      <option value="">Geothermal</option>
                                    </select>

                                    <input id="x6" type="number" placeholder="Generation-MWh" name="x6" 
                                        style="border-top: none;border-left: none;border-right: none;text-align: center; margin-left: 50px;">
                                    <br><br>

                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I1S1_fail">
                                <div class="strategy-fail">
                                    <p class="strategy-question fail">
                                        <span class="failure-message">
                                            Your project is not currently using this strategy.
                                        </span> <br><br>
                                        For more information review our Learn More section.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="button-group">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I1S1_success">
                                <div class="strategy-success">
                                    <p class="strategy-question">
                                        <span class="category-icon" style="background-image: url('img/ee.png');"></span>
                                        <span class="success-message">
                                           <span class="success-message-title">
                                                Great work, it looks like your project is meeting Local Renewable Generation strategies. 
                                            </span>
                                            <br><br>
                                            Provide the electricity procurement document & local re 
                                            installed document to support the data.
                                        </span>
                                        <span id="per" style="float: right; font-size: 45px;color: rgba(53, 128, 0, 0.6);">

                                        </span>
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="strategy-upload-message">
                                        <div class="upload-message-div">
                                            <p class="upload-message">
                                                <span class="strategy-upload-step">
                                                Step 1.</span> 
                                                Upload further documentation to increase your chances for 
                                                    certification.
                                            </p>
                                        </div>
                                        <div class="elements_questionnaire_upload" id="elements_questionnaire_upload-38680">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="fa fa-upload"></i>
                                                <span>Add Document</span>
                                                <input class="elements_file_data_new upload" name="elements_file_data_new" type="file" multiple="">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="strategy-complete-div">
                                        <div class="complete-message-div">
                                            <p class="complete-message">
                                                <span class="strategy-upload-step">Step 2.</span> 
                                                Complete credit now.
                                            </p>
                                        </div>
                                        <div class="complete-credit">
                                            <a id="completeq" class="waves-effect waves-light btn btn-green">
                                                Complete credit
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="documentation-message-button-group">

                                    <div class="button-group button-group-success">
                                        <a id="restartq" class="waves-effect waves-light btn-back-step">
                                            <i class="fa fa-angle-left"></i>
                                            <span>Back</span>
                                        </a>

                                        <a id="next-strategy" class="waves-effect waves-light btn btn-white">
                                            <span>Next Strategy</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <span class="button-group-or-text">OR</span>
                                        <a id="continueq" class="waves-effect waves-light btn btn-white">
                                            Skip
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </li>
                    <!-- eeI1S1 -->

                </ul>

            </div>

        </div>
        <div class="intent-div section accordion-section" id="overview-ee">
            <div class="title-description">
                <p class="intent-title">Source Energy Intesity(SEI)</p>
                <p class="intent-description">
                    To provide project operators and customers with greater transparency regarding energy losses associated with electricity generation and delivery.
                </p>                                        
            </div>
            
            <div class="accordion-section-title" data-href="#index-banner-3" data-intentid="eeI2">
                <p>
                    <i class="arrow-down"></i> 
                    <span class="credit-count">1</span> 
                    Strategy
                </p>
            </div>

            <div class="section accordion-section-content index-banner" 
                id="index-banner-3" style="display: none;">

                <ul class="collapsible popout" data-collapsible="accordion" style="width: 100%;" data-intentid="eeI1">
                    
                    <!-- eeI2S1 -->
                    <li class="undecided strategy-system">
                        <span class="strategy-required">Bonus</span>
                        
                        <div class="collapsible-header" data-status="undecided" data-intentid="eeI2" 
                            data-strategyid="eeI2S1" style="position: relative;">
                            <div class="strategy-counter">
                                <div class="strategy-counter-content">1.</div>
                            </div>
                            <div class="strategy-name">
                                Estimate and monitor primary energy requirements for the electricity delivered.
                            </div>
                            <div class="hover-apply-strategy" style="height: 65.6667px;">
                                <div class="hover-apply-strategy-content">
                                    <a class="waves-effect waves-light applyStrategy " 
                                        data-intentid="eeI2" data-strategyid="eeI2S1">
                                        <span class="yes-apply-circle">YES</span>
                                    </a>
                                    <a class="waves-effect waves-light notApplyStrategy " 
                                        data-intentid="eeI2" data-strategyid="eeI2S1">
                                        <span class="no-apply-circle">NO</span>
                                    </a>
                                    <a class="waves-effect waves-light fa fa-file-text-o documentStrategy " 
                                        data-intentid="eeI2" data-strategyid="eeI2S1">
                                    </a>
                                    <a class="waves-effect waves-light fa fa-star-o starStrategy " 
                                        data-intentid="eeI2" data-strategyid="eeI2S1">
                                    </a>
                                </div>
                            </div>
                            <div class="strategy-action-menu">
                                <div class="hover-apply-strategy-content">
                                    <div class="waves-effect waves-light actionmenuStrategy" 
                                        data-intentid="eeI2" data-strategyid="eeI2S1" data-hasqtip="0" aria-describedby="qtip-0">
                                        <i class="icon-ellipsis-horizontal icon-large"></i>
                                    </div>
                                    <ul class="strategy-action-nav pop-menu-ss" style="display:none;">
                                        <li class="first-item">
                                            <div class="apply-content">
                                                <span>Doing this credit?</span>
                                                <a class="waves-effect waves-light applyStrategy " 
                                                    data-intentid="eeI1" data-strategyid="eeI1S1">
                                                    <span class="yes-apply-circle">YES</span>
                                                </a>
                                                <a class="waves-effect waves-light notApplyStrategy " 
                                                    data-intentid="eeI1" data-strategyid="eeI1S1">
                                                    <span class="no-apply-circle">NO</span>
                                                </a>
                                                <a class="waves-effect waves-light unDecidedStrategy undecided" 
                                                    data-intentid="eeI1" data-strategyid="eeI1S1">
                                                    <span class="undecided-circle">Maybe</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="navDocumentStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-file-text-o documentStrategy " 
                                                data-intentid="eeI2" data-strategyid="eeI2S1">
                                            </a>
                                            <div class="action-text">Add Document</div>
                                        </li>
                                        <li class="navStarStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-star-o starStrategy " 
                                                data-intentid="eeI2" data-strategyid="eeI2S1">
                                            </a>
                                            <div class="action-text">Star</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body" style="display: none;">

                            <div class="strategy-not-applicable default-strategy-38655" id="ee_I2S1_desc">
                                <div>
                                    <p class="strategy-description">
                                        Estimate and monitor primary energy requirements for the electricity delivered
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More 
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <p class="strategy-question">Is your project presently tracking Source Energy Intensity (SEI)?</p>
                                </div>
                                <div class="button-group">
                                    <a class="waves-effect waves-light btn btn-green yes" 
                                        data-intentid="7664" data-strategyid="38655" id="ee_I2S1_desc_yes">
                                        Yes
                                    </a>
                                    <a class="waves-effect waves-light btn btn-white close-popout no" id="ee_I2S1_desc_no">
                                        No
                                    </a>
                                </div>
                            </div>


                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I2S1_ques1">
                                <p class="strategy-question">
                                    Enter the SEI value as calculated by your project
                                    <input id="x1" type="number" placeholder="(MWh)" name="x1" 
                                        style="border-top: none;border-left: none;border-right: none;text-align: center;"> 
                                    (Unit)
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I2S1_ques2">
                                <p class="strategy-question">
                                    Please check all the energy generation sources that are applicable to your project.<br><br>
                                    Bulk Generation.<br><br>
                                    <input type="checkbox"> <span>Coal</span> <br> 
                                    <input type="checkbox"> <span>Petroleum</span><br> 
                                    <input type="checkbox"> <span>Simple Natural Box</span><br> 
                                    <input type="checkbox"> <span>High efficiency natural gas</span><br> 
                                    <input type="checkbox"> <span>Hydro Electric</span><br>
                                    <input type="checkbox"> <span>Solar PV & Wind</span><br> 
                                    <input type="checkbox"> <span>Pit</span><br> 
                                    <br>
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I2S1_ques3">
                                <p class="strategy-question">
                                    Please check all the energy generation sources that are applicable to your project.<br><br>
                                    <div class="col-md-3" style="border:1px solid black">
                                        Bulk Generation.<br><br>
                                        <input type="checkbox"> <span>Coal</span> <br> 
                                        <input type="checkbox"> <span>Petroleum</span><br> 
                                        <input type="checkbox"> <span>Simple Natural Box</span><br> 
                                        <input type="checkbox"> <span>High efficiency natural gas</span><br> 
                                        <input type="checkbox"> <span>Hydro Electric</span><br>
                                        <input type="checkbox"> <span>Solar PV & Wind</span><br> 
                                        <input type="checkbox"> <span>Pit</span><br> 
                                        <br>
                                    </div>    
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I2S1_ques4">
                                <p class="strategy-question">
                                    Please check all the energy generation sources that are applicable to your project.<br><br>
                                        Bulk Generation.<br><br>
                                        <input type="checkbox"> <span>Coal</span> <br> 
                                        <input type="checkbox"> <span>Petroleum</span><br> 
                                        <input type="checkbox"> <span>Simple Natural Box</span><br> 
                                        <input type="checkbox"> <span>High efficiency natural gas</span><br> 
                                        <input type="checkbox"> <span>Hydro Electric</span><br>
                                        <input type="checkbox"> <span>Solar PV & Wind</span><br> 
                                        <input type="checkbox"> <span>Pit</span><br> 
                                        <br>
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I2S1_fail">
                                <div class="strategy-fail">
                                    <p class="strategy-question fail">
                                        <span class="failure-message">
                                            It looks like your project has no options to measure interruption, hence  does not meet this prerequisite.
                                        </span> <br><br>
                                        For more information review our Learn More section.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="button-group">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="ee_I2S1_success">
                                <div class="strategy-success">
                                    <p class="strategy-question">
                                        <span class="category-icon" style="background-image: url('img/ee.png');"></span>
                                        <span class="success-message">
                                           <span class="success-message-title">
                                               Great work, it looks like your project is capable of measuring interruptions that are essential to meet this prerequisite. 
                                            </span>
                                            <br><br>
                                            Provide the electricity procurement document & local re 
                                            installed document to support the data.
                                        </span>
                                        <span id="per" style="float: right; font-size: 45px;color: rgba(53, 128, 0, 0.6);">

                                        </span>
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="strategy-upload-message">
                                        <div class="upload-message-div">
                                            <p class="upload-message">
                                                <span class="strategy-upload-step">
                                                Step 1.</span> 
                                                Upload further documentation to increase your chances for 
                                                    certification.
                                            </p>
                                        </div>
                                        <div class="elements_questionnaire_upload" id="elements_questionnaire_upload-38680">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="fa fa-upload"></i>
                                                <span>Add Document</span>
                                                <input class="elements_file_data_new upload" name="elements_file_data_new" type="file" multiple="">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="strategy-complete-div">
                                        <div class="complete-message-div">
                                            <p class="complete-message">
                                                <span class="strategy-upload-step">Step 2.</span> 
                                                Complete credit now.
                                            </p>
                                        </div>
                                        <div class="complete-credit">
                                            <a id="completeq" class="waves-effect waves-light btn btn-green">
                                                Complete credit
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="documentation-message-button-group">

                                    <div class="button-group button-group-success">
                                        <a id="restartq" class="waves-effect waves-light btn-back-step">
                                            <i class="fa fa-angle-left"></i>
                                            <span>Back</span>
                                        </a>

                                        <a id="next-strategy" class="waves-effect waves-light btn btn-white">
                                            <span>Next Strategy</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <span class="button-group-or-text">OR</span>
                                        <a id="continueq" class="waves-effect waves-light btn btn-white">
                                            Skip
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </li>
                    <!-- eeI1S1 -->

                </ul>

            </div>

        </div>
    </div>
</div>

<script>
$('.collapsible').collapsible();
</script>