<div class="cataegory-div parent-accordion-section" id="section-cc">
    <div class="parent-accordion-section-title" data-href="#parent-section-ce">
        <p>Customer Contribution</p>
        <img src="img/cc.png">
    </div>
    <div class="parent-accordion-section-content" id="parent-section-ce" style="display:none">
        <div class="intent-div section accordion-section" id="overview-ce">
            <div class="title-description">
                <p class="intent-title" 
                    data-content="The installation of electronic and digital hardware and software that enable 
                        interval data measurement, remote communication, and additional services." 
                        rel="popover" data-placement="top" data-trigger="hover">
                    Advanced Metering Infrastructure
                </p>
                <p class="intent-description">
                    To enable customer contribution to grid performance and 
                    management of electricity usage and costs.
                </p>
            </div>
            
            <div class="accordion-section-title" data-href="#index-banner-3" data-intentid="3">
                <p>
                    <i class="arrow-down"></i> 
                    <span class="credit-count">3</span> 
                    Strategies
                </p>
            </div>

            <div class="section accordion-section-content index-banner" 
                id="index-banner-3" style="display: none;">

                <ul class="collapsible popout" data-collapsible="accordion" style="width: 100%;" data-intentid="ccI1">
                    
                    <!-- ceI1S1 -->
                    <li class="undecided strategy-system">
                        <span class="strategy-required">Required</span>
                        
                        <div class="collapsible-header"  data-content="An electricity policy that enables customers with distributed generation to receive full value for providing electricity and ancillary services to the electric grid." rel="popover" data-placement="top" data-trigger="hover" data-status="undecided" data-intentid="ccI1" 
                            data-strategyid="ccI1S1" style="position: relative;">
                            <div class="strategy-counter">
                                <div class="strategy-counter-content">1.</div>
                            </div>
                            <div class="strategy-name">
                                Advanced meter should be Net-metering compatible.
                            </div>
                            <div class="hover-apply-strategy" style="height: 65.6667px;">
                                <div class="hover-apply-strategy-content">
                                    <a class="waves-effect waves-light applyStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                        <span class="yes-apply-circle">YES</span>
                                    </a>
                                    <a class="waves-effect waves-light notApplyStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                        <span class="no-apply-circle">NO</span>
                                    </a>
                                    <a class="waves-effect waves-light fa fa-file-text-o documentStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                    </a>
                                    <a class="waves-effect waves-light fa fa-star-o starStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                    </a>
                                </div>
                            </div>
                            <div class="strategy-action-menu">
                                <div class="hover-apply-strategy-content">
                                    <div class="waves-effect waves-light actionmenuStrategy" 
                                        data-intentid="ccI1" data-strategyid="" data-hasqtip="0" aria-describedby="qtip-0">
                                        <i class="icon-ellipsis-horizontal icon-large"></i>
                                    </div>
                                    <ul class="strategy-action-nav pop-menu-ss" style="display:none;">
                                        <li class="first-item">
                                            <div class="apply-content">
                                                <span>Doing this credit?</span>
                                                <a class="waves-effect waves-light applyStrategy " 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="yes-apply-circle">YES</span>
                                                </a>
                                                <a class="waves-effect waves-light notApplyStrategy " 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="no-apply-circle">NO</span>
                                                </a>
                                                <a class="waves-effect waves-light unDecidedStrategy undecided" 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="undecided-circle">Maybe</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="navDocumentStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-file-text-o documentStrategy " 
                                                data-intentid="ccI1" data-strategyid="">
                                            </a>
                                            <div class="action-text">Add Document</div>
                                        </li>
                                        <li class="navStarStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-star-o starStrategy " 
                                                data-intentid="ccI1" data-strategyid="">
                                            </a>
                                            <div class="action-text">Star</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body" style="display: none;">

                            <div class="strategy-not-applicable default-strategy-38655" id="cc_I1S1_desc">
                                <div>
                                    <p class="strategy-description">
                                        Refer to the link.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More 
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <p class="strategy-question">Do you meet this requirement?</p>
                                </div>
                                <div class="button-group">
                                    <a class="waves-effect waves-light btn btn-green yes" 
                                        data-intentid="7664" data-strategyid="38655" id="cc_I1S1_desc_yes">
                                        Yes
                                    </a>
                                    <a class="waves-effect waves-light btn btn-white close-popout no" id="cc_I1S1_desc_no">
                                        No
                                    </a>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S1_ques1">
                                <p class="strategy-question">
                                    Whether the meter is compatible for Net-metering?
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a class="answerbutton waves-effect waves-light btn btn-green" id="cc_I1S1_ques1_yes">
                                            Yes
                                        </a>
                                        <a class="answerbutton waves-effect waves-light btn btn-white" id="cc_I1S1_ques1_no">
                                            No
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step back-to-desc" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S1_fail">
                                <div class="strategy-fail">
                                    <p class="strategy-question">
                                        <span class="failure-message">
                                            Your project is not currently using this strategy.
                                        </span>
                                        <br><br>
                                        For more information review our Learn More section.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="button-group">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S1_success">
                                <div class="strategy-success">
                                    <p class="strategy-question">
                                        <span class="category-icon" style="background-image: url('img/cc.png');"></span>
                                        <span class="success-message">
                                           <span class="success-message-title">
                                                 Great work, it looks like your project is implementing Advanced 
                                                 Metering Infrastructure strategies.
                                            </span>
                                            <br><br>
                                            Provide the specification of your Advanced meter.
                                        </span>
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="strategy-upload-message">
                                        <div class="upload-message-div">
                                            <p class="upload-message">
                                                <span class="strategy-upload-step">
                                                Step 1.</span> 
                                                Upload further documentation to increase your chances for 
                                                    certification.
                                            </p>
                                        </div>
                                        <div class="elements_questionnaire_upload" id="elements_questionnaire_upload-38680">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="fa fa-upload"></i>
                                                <span>Add Document</span>
                                                <input class="elements_file_data_new upload" name="elements_file_data_new" type="file" multiple="">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="strategy-complete-div">
                                        <div class="complete-message-div">
                                            <p class="complete-message">
                                                <span class="strategy-upload-step">Step 2.</span> 
                                                Complete credit now.
                                            </p>
                                        </div>
                                        <div class="complete-credit">
                                            <a id="completeq" class="waves-effect waves-light btn btn-green">
                                                Complete credit
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="documentation-message-button-group">

                                    <div class="button-group button-group-success">
                                        <a id="restartq" class="waves-effect waves-light btn-back-step">
                                            <i class="fa fa-angle-left"></i>
                                            <span>Back</span>
                                        </a>

                                        <a id="next-strategy" class="waves-effect waves-light btn btn-white">
                                            <span>Next Strategy</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <span class="button-group-or-text">OR</span>
                                        <a id="continueq" class="waves-effect waves-light btn btn-white">
                                            Skip
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </li>
                    <!-- ceI1S1 -->

                    <!-- ceI1S2 -->
                    <li class="undecided strategy-system">
                        <span class="strategy-required">Required</span>
                        
                        <div class="collapsible-header" data-status="undecided" data-intentid="ccI1" 
                            data-strategyid="ccI1S2" style="position: relative;">
                            <div class="strategy-counter">
                                <div class="strategy-counter-content">2.</div>
                            </div>
                            <div class="strategy-name">
                                Advanced meters provide bi-directional communication.
                            </div>
                            <div class="hover-apply-strategy" style="height: 65.6667px;">
                                <div class="hover-apply-strategy-content">
                                    <a class="waves-effect waves-light applyStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                        <span class="yes-apply-circle">YES</span>
                                    </a>
                                    <a class="waves-effect waves-light notApplyStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                        <span class="no-apply-circle">NO</span>
                                    </a>
                                    <a class="waves-effect waves-light fa fa-file-text-o documentStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                    </a>
                                    <a class="waves-effect waves-light fa fa-star-o starStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                    </a>
                                </div>
                            </div>
                            <div class="strategy-action-menu">
                                <div class="hover-apply-strategy-content">
                                    <div class="waves-effect waves-light actionmenuStrategy" 
                                        data-intentid="ccI1" data-strategyid="" data-hasqtip="0" aria-describedby="qtip-0">
                                        <i class="icon-ellipsis-horizontal icon-large"></i>
                                    </div>
                                    <ul class="strategy-action-nav pop-menu-ss" style="display:none;">
                                        <li class="first-item">
                                            <div class="apply-content">
                                                <span>Doing this credit?</span>
                                                <a class="waves-effect waves-light applyStrategy " 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="yes-apply-circle">YES</span>
                                                </a>
                                                <a class="waves-effect waves-light notApplyStrategy " 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="no-apply-circle">NO</span>
                                                </a>
                                                <a class="waves-effect waves-light unDecidedStrategy undecided" 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="undecided-circle">Maybe</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="navDocumentStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-file-text-o documentStrategy " 
                                                data-intentid="ccI1" data-strategyid="">
                                            </a>
                                            <div class="action-text">Add Document</div>
                                        </li>
                                        <li class="navStarStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-star-o starStrategy " 
                                                data-intentid="ccI1" data-strategyid="">
                                            </a>
                                            <div class="action-text">Star</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body" style="display: none;">

                            <div class="strategy-not-applicable default-strategy-38655" id="cc_I1S2_desc">
                                <div>
                                    <p class="strategy-description">
                                        Advanced meters provide bi-directional communication 
                                        between customer and service provider.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More 
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <p class="strategy-question">Do you meet this requirement?</p>
                                </div>
                                <div class="button-group">
                                    <a class="waves-effect waves-light btn btn-green yes" 
                                        data-intentid="7664" data-strategyid="38655" id="cc_I1S2_desc_yes">
                                        Yes
                                    </a>
                                    <a class="waves-effect waves-light btn btn-white close-popout no" id="cc_I1S2_desc_no">
                                        No
                                    </a>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S2_ques1">
                                <p class="strategy-question">
                                    Whether the meter is compatible for bi-directional communication?
                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a class="answerbutton waves-effect waves-light btn btn-green" id="cc_I1S2_ques1_yes">
                                            Yes
                                        </a>
                                        <a class="answerbutton waves-effect waves-light btn btn-white" id="cc_I1S2_ques1_no">
                                            No
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step back-to-desc" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S2_fail">
                                <div class="strategy-fail">
                                    <p class="strategy-question">
                                        <span class="failure-message">
                                            Your project is not currently using this strategy.
                                        </span>
                                        <br><br>
                                        For more information review our Learn More section.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="button-group">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S2_success">
                                <div class="strategy-success">
                                    <p class="strategy-question">
                                        <span class="category-icon" style="background-image: url('img/cc.png');"></span>
                                        <span class="success-message">
                                            <span class="success-message-title">
                                                Great work, it looks like your project is implementing Advanced Metering 
                                                Infrastructure strategies.
                                            </span>
                                            <br><br>
                                            Provide the specification of your Advanced meter.
                                        </span>
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="strategy-upload-message">
                                        <div class="upload-message-div">
                                            <p class="upload-message">
                                                <span class="strategy-upload-step">
                                                Step 1.</span> 
                                                Upload further documentation to increase your chances for 
                                                    certification.
                                            </p>
                                        </div>
                                        <div class="elements_questionnaire_upload" id="elements_questionnaire_upload-38680">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="fa fa-upload"></i>
                                                <span>Add Document</span>
                                                <input class="elements_file_data_new upload" name="elements_file_data_new" type="file" multiple="">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="strategy-complete-div">
                                        <div class="complete-message-div">
                                            <p class="complete-message">
                                                <span class="strategy-upload-step">Step 2.</span> 
                                                Complete credit now.
                                            </p>
                                        </div>
                                        <div class="complete-credit">
                                            <a id="completeq" class="waves-effect waves-light btn btn-green">
                                                Complete credit
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="documentation-message-button-group">

                                    <div class="button-group button-group-success">
                                        <a id="restartq" class="waves-effect waves-light btn-back-step">
                                            <i class="fa fa-angle-left"></i>
                                            <span>Back</span>
                                        </a>

                                        <a id="next-strategy" class="waves-effect waves-light btn btn-white">
                                            <span>Next Strategy</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <span class="button-group-or-text">OR</span>
                                        <a id="continueq" class="waves-effect waves-light btn btn-white">
                                            Skip
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </li>
                    <!-- ceI1S2 -->

                    <!-- ceI1S3 -->
                    <li class="undecided strategy-system">
                        <span class="strategy-required">Required</span>
                        
                        <div class="collapsible-header" data-status="undecided" data-intentid="ccI1" 
                            data-strategyid="ccI1S3" style="position: relative;">
                            <div class="strategy-counter">
                                <div class="strategy-counter-content">3.</div>
                            </div>
                            <div class="strategy-name">
                                Advanced meter should meet atleast 7 technical attributes incorporating the 
                                smart features to enable customers.
                            </div>
                            <div class="hover-apply-strategy" style="height: 65.6667px;">
                                <div class="hover-apply-strategy-content">
                                    <a class="waves-effect waves-light applyStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                        <span class="yes-apply-circle">YES</span>
                                    </a>
                                    <a class="waves-effect waves-light notApplyStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                        <span class="no-apply-circle">NO</span>
                                    </a>
                                    <a class="waves-effect waves-light fa fa-file-text-o documentStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                    </a>
                                    <a class="waves-effect waves-light fa fa-star-o starStrategy " 
                                        data-intentid="ccI1" data-strategyid="">
                                    </a>
                                </div>
                            </div>
                            <div class="strategy-action-menu">
                                <div class="hover-apply-strategy-content">
                                    <div class="waves-effect waves-light actionmenuStrategy" 
                                        data-intentid="ccI1" data-strategyid="" data-hasqtip="0" aria-describedby="qtip-0">
                                        <i class="icon-ellipsis-horizontal icon-large"></i>
                                    </div>
                                    <ul class="strategy-action-nav pop-menu-ss" style="display:none;">
                                        <li class="first-item">
                                            <div class="apply-content">
                                                <span>Doing this credit?</span>
                                                <a class="waves-effect waves-light applyStrategy " 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="yes-apply-circle">YES</span>
                                                </a>
                                                <a class="waves-effect waves-light notApplyStrategy " 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="no-apply-circle">NO</span>
                                                </a>
                                                <a class="waves-effect waves-light unDecidedStrategy undecided" 
                                                    data-intentid="ccI1" data-strategyid="">
                                                    <span class="undecided-circle">Maybe</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="navDocumentStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-file-text-o documentStrategy " 
                                                data-intentid="ccI1" data-strategyid="">
                                            </a>
                                            <div class="action-text">Add Document</div>
                                        </li>
                                        <li class="navStarStrategy">
                                            <a class="waves-effect waves-light action-item fa fa-star-o starStrategy " 
                                                data-intentid="ccI1" data-strategyid="">
                                            </a>
                                            <div class="action-text">Star</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="collapsible-body" style="display: none;">

                            <div class="strategy-not-applicable default-strategy-38655" id="cc_I1S3_desc">
                                <div>
                                    <p class="strategy-description">
                                        Refer to the link.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More 
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <p class="strategy-question">Do you meet this requirement?</p>
                                </div>
                                <div class="button-group">
                                    <a class="waves-effect waves-light btn btn-green yes" 
                                        data-intentid="7664" data-strategyid="38655" id="cc_I1S3_desc_yes">
                                        Yes
                                    </a>
                                    <a class="waves-effect waves-light btn btn-white close-popout no" id="cc_I1S3_desc_no">
                                        No
                                    </a>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S3_ques1">
                                <p class="strategy-question">
                                    Whether the advanced meter is capable to meet at least 7 technical attributes 
                                    incorporating the smart features to enable customers?<br><br>
                                        <input type="checkbox"> <span>Safety</span> <br> 
                                        <input type="checkbox"> <span>Accuracy</span><br> 
                                        <input type="checkbox"> <span>Wireless vs. hardwired</span><br> 
                                        <input type="checkbox"> <span>Real-time access to consumption data</span><br> 
                                        <input type="checkbox"> <span>Customer access to pricing data</span><br>
                                        <input type="checkbox"> <span>Customer interface</span><br> 
                                        <input type="checkbox"> <span>Local vs. central data storage</span><br> 
                                        <input type="checkbox"> <span>Scalability of data processing</span><br>
                                        <input type="checkbox"> <span>Detection of power interruptions</span><br>
                                        <input type="checkbox"> <span>Data fast enough for project control</span>
                                        <br><br><br>

                                        <span>% of customers currently served by advanced meters</span> 
                                        <input type="text" style="margin-left: 75px;">
                                        <br><br>
                                        <span>% of customers to be served by advanced meters within 4 years </span> 
                                        <input type="text" style="margin-left: 5px;">

                                </p>

                                <a target="_blank" href="http://peer.gbci.org/credits" 
                                    class="learn-more right">
                                    Learn More <i class="icon-external-link"></i>
                                </a>

                                <div class="button-group">
                                    <div class="controls">
                                        <a class="answerbutton waves-effect waves-light btn btn-green" id="cc_I1S3_ques1_yes">
                                            Yes
                                        </a>
                                        <a class="answerbutton waves-effect waves-light btn btn-white" id="cc_I1S3_ques1_no">
                                            No
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step back-to-desc" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S3_fail">
                                <div class="strategy-fail">
                                    <p class="strategy-question">
                                        <span class="failure-message">
                                            Your project is not currently using this strategy.
                                        </span>
                                        <br><br>
                                        For more information review our Learn More section.
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="button-group">
                                        <a id="continueq" class="waves-effect waves-light btn btn-green">
                                            Continue
                                        </a>
                                        <a id="restartq" class="waves-effect waves-light btn-back-step" 
                                            style="margin-left: 20px;color: rgba(128, 128, 128, 0.8);text-decoration: none;">
                                            <i class="fa fa-angle-left" 
                                                style="margin-right: 5px;font-size: 22px;vertical-align: sub;"></i>
                                                <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div style="display: none;" class="questionnaire questionnaire-strategy-38680" id="cc_I1S3_success">
                                <div class="strategy-success">
                                    <p class="strategy-question">
                                        <span class="category-icon" style="background-image: url('img/cc.png');"></span>
                                        <span class="success-message">
                                            <span class="success-message-title">
                                                Great work, it looks like your project is implementing Advanced Metering 
                                                Infrastructure strategies.
                                            </span>
                                            <br><br>
                                            Provide the specification of your Advanced meter.
                                        </span>
                                    </p>
                                    <a target="_blank" href="http://peer.gbci.org/credits" class="learn-more right">
                                        Learn More <i class="icon-external-link"></i>
                                    </a>

                                    <div class="strategy-upload-message">
                                        <div class="upload-message-div">
                                            <p class="upload-message">
                                                <span class="strategy-upload-step">
                                                Step 1.</span> 
                                                Upload further documentation to increase your chances for 
                                                    certification.
                                            </p>
                                        </div>
                                        <div class="elements_questionnaire_upload" id="elements_questionnaire_upload-38680">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="fa fa-upload"></i>
                                                <span>Add Document</span>
                                                <input class="elements_file_data_new upload" name="elements_file_data_new" type="file" multiple="">
                                            </span>
                                        </div>
                                    </div>

                                    <div class="strategy-complete-div">
                                        <div class="complete-message-div">
                                            <p class="complete-message">
                                                <span class="strategy-upload-step">Step 2.</span> 
                                                Complete credit now.
                                            </p>
                                        </div>
                                        <div class="complete-credit">
                                            <a id="completeq" class="waves-effect waves-light btn btn-green">
                                                Complete credit
                                            </a>
                                        </div>
                                    </div>
                                    <hr class="documentation-message-button-group">

                                    <div class="button-group button-group-success">
                                        <a id="restartq" class="waves-effect waves-light btn-back-step">
                                            <i class="fa fa-angle-left"></i>
                                            <span>Back</span>
                                        </a>

                                        <a id="next-strategy" class="waves-effect waves-light btn btn-white">
                                            <span>Next Strategy</span>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <span class="button-group-or-text">OR</span>
                                        <a id="continueq" class="waves-effect waves-light btn btn-white">
                                            Skip
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </li>
                    <!-- ceI1S3 -->

                </ul>

            </div>

        </div>
    </div>
</div>

<script>
$('.collapsible').collapsible();
</script>